{{#each blog}}
  <div>
    <a href='/blog/{{id}}'>
      <section class='card'>

        <header>{{name}}</header>
        <p>created: {{date_created}}</p>
      </section>
    </a>
    <button class='deletebtn' data-blog-id='{{id}}'>Delete Blog</button>
    <a href='/updateblog/{{id}}'><button
        class='updatebtn'
        data-blog-id='{{id}}'
      >Update Blog</button>
    </a>
  </div>
  <br />
{{/each}}

{{#if loggedIn}}
  <script src='/js/deleteblog.js'></script>
{{/if}}